.form {
  &__group:not(:last-child) {
      margin-bottom: .5rem;
  }

  &__input {
    width: 40%;
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 2px;
    background-color: rgba(white, .5);
    border: none;
    border-bottom:  3px solid transparent;
    display: block;
    transition: all .5s;
    color: inherit;

    @include respond(tab-port) { 
      width: 100%;
    }  

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(black, .1);
      border-bottom:  3px solid $color-primary;
    }

    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
  }

  &__label {
    font-size: .85rem;
    font-weight: 700;
    margin-left: .75rem;
    margin-top: .5rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2.5rem);
  }

  &__radio-group {
    width: 25%;
    display: inline-block;

    @include respond(tab-port) { 
      width: 100%;
      margin: .5rem;
    }

  }

  &__radio-label {
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    padding-left: 1.5rem;
  }

  &__radio-input {
    display: none;
  }

  &__radio-btn {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50px;
    border: 3px solid $color-primary;
    display: block;
    position: absolute;
    left: 0rem;
    top: 0;
    &::after {
      content: "";
      display: block;
      height: .65rem;
      width: .65rem;
      border-radius: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity.2s;
    }
    
  }
  &__radio-input:checked ~ &__radio-label &__radio-btn::after { 
    opacity: 1;
  }
}