.heading-primary {
  letter-spacing: 1.75rem;
  text-align: center;
  line-height: 3rem;
  color: white;
  margin-bottom: 2rem;

  &--main {
    display: block;
    font-size: 3rem;
    font-weight: 500;
    animation: moveInLeft 2s ease-out;
  }

  &--sub {
    display: block;
    letter-spacing: .75rem;
    font-size: 1.25rem;
    font-weight: 400;
    animation: moveInRight 2s ease-out;
  }

}

.heading-secondary {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
  transition: all .2s;
  letter-spacing: 2px;
  &:hover {
    transform: skewY(2deg);
    text-shadow: .5rem 1rem 2rem rgba(black,.2);
  }
}