.u-center-text {
  text-align: center;
}

.u-mb-sm {
  margin-bottom: 1rem;

}

.u-mb-md {
  margin-bottom: 4rem;

  @include respond(tab-port) {
    margin-bottom: 2rem !important;
  }

}

.u-mb-lg {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 4rem !important;
  }

}

.u-mt-md {
  margin-top: 4rem;
}

.m-auto {
  display: block;
  margin: 0 auto;

}

.text-center {
  text-align: center;
}



